<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>Datastil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/static/<%= grunt.config.get('pkg.name') %>.css" rel="stylesheet" />
  <script type="text/javascript" src="/static/jquery.js"></script>
  <script type="text/javascript" src="/static/angular.js"></script>
  <script type="text/javascript" src="/static/bootstrap.js"></script>
  <script type="text/javascript" src="/static/<%= grunt.config.get('pkg.name') %>.js"></script>
</head>

<body ng-controller="AppCtrl">
  <div ng-include="'header.tpl.html'"></div>
  <div class="container" ng-view></div>
</body>
</html>
