<h1>List</h1>
<group-filter filter-var="hiddenGroups"></group-filter>
<form class="form">
  <div class="form-group">
    <label class="sr-only" for="searchText">Search:</label>
    <input type="text" class="form-control" id="searchText" placeholder="Text search" ng-model="searchText" ng-change="classes.nextPage()">
  </div>
</form>
<div class="table-responsive">
  <table class="table table-hover" infinite-scroll="classes.nextPage()" infinite-scroll-disabled="!classes.hasNext || classes.pageLoading" infinite-scroll-distance="1">
    <thead>
      <tr>
        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Activity</th>
        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Resource</th>
        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Place</th>
        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Time</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Available</th>
      </tr>
    </thead>
    <tbody>
      <tr class="link-table-row" ng-repeat="class in classesFiltered = (classes.data | notInArray:hiddenGroups:'groupid' | classFilter:searchText)">
        <td>
          <a href="/list/{{class.id}}" ng-if="!class.installt">{{class.aktivitet}}</a>
          <a href="/list/{{class.id}}" ng-if="class.installt">
            <del>{{class.aktivitet}}</del>
          </a>
        </td>
        <td>
          <a href="/list/{{class.id}}">{{class.resurs}}<span ng-if="!class.resurs">&nbsp;</span></a>
        </td>
        <td>
          <a href="/list/{{class.id}}">{{class.lokal}}</a>
        </td>
        <td>
          <a href="/list/{{class.id}}">{{class.startTime | date:'HH:mm, EEEE, MMM d'}}</a>
        </td>
        <td>
          <a href="/list/{{class.id}}" ng-if="!class.installt">{{class.lediga}}</a>
          <a href="/list/{{class.id}}" ng-if="class.installt">-</a>
        </td>
      </tr>
      <tr ng-show="!classesFiltered.length">
        <td colspan="5">Nothing in the list =(</td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-show="classes.pageLoading">Loading data...</div>
